@model  OutdorAdvManage.Web.ViewModels.CounterpartyViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel-body">
    <div class="media">
        
        <div class="media-body">
            <h3 class="media-heading">
                @Model.NameCompany
            </h3>
        </div>
    </div>
</div>
